<div class="ion-padding ion-text-center">

  <br><br>
  
  <ion-text class="info"><p>
    {{ InfoText }}
  </p></ion-text>
  
  <br>

  <div class="input">
    <ion-item>
      <ion-label class="input-label" position="floating">{{ EmailCodeLabelText }}</ion-label>
      <ion-input
        [(ngModel)]="EmailCodeModel"
        [type]="'number'"
        inputmode="numeric"
        (ionBlur)="inputBlur()"
        (ngModelChange)="inputChange()"
        ></ion-input>
    </ion-item>

    <ion-text color="danger" class="warning-text"><p>
      {{ EmailCodeErrorText }}
    </p></ion-text>
  </div>

  <br><br>

  <ion-button [disabled]="!IsValid"
    (click)="verify()" size="large" expand="block">
    <ion-spinner *ngIf="IsSending" name="crescent"></ion-spinner>
    <ion-text *ngIf="!IsSending">{{ VerifyBtnTxt }}</ion-text>
  </ion-button>

  <ion-button strong (click)="resend()" class="clear" [disabled]="!ResendValid"
    size="dafault" fill="clear">
    <ion-text>{{ ResendValid ? ResendCodeBtnText : ResendCodeBtnText + ' in ' + CountDownTimer }}</ion-text>
  </ion-button>
</div>