<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let option of options" size="6">
        <ion-card [color]="option.backGround" button 
          (click)="option.handler()">
          <ion-card-content>
            <ion-icon [name]="option.icon"></ion-icon>
            <ion-text class="content"><p>
              {{ option.title }}
            </p></ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="more-info-card" color="success" button>
    <ion-card-content>
      <ion-text class="content"><p>
        {{ MoreInfoText }}
      </p></ion-text>
    </ion-card-content>
  </ion-card>

  <br><br>
  <ion-button size="large" fill="outline" shape="round" expand="block" class="outline" (click)="showReferrals()">
    {{ StartEarningText }}
  </ion-button>

  <br>

  <ion-button size="large" fill="outline" shape="round" expand="block" class="outline" (click)="showCurrencyExchange()">
    {{ CurrencyExText }}
  </ion-button>
</ion-content>
