<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <div class="header ion-padding-top">
    <ion-text><p>{{ HeaderGreeting }}</p></ion-text>
    <div class="inner-header">
      <div class="amount-info">
        <ion-text><p class="amount-text">{{ AvailableBalanceLabel }}</p></ion-text>
        <ion-text><p class="amount"><app-currency-type currency="naira" ></app-currency-type>{{ AvailableBalance | customCurrency : '' : true }}</p></ion-text>
        
        <div class="btn-container">
          <ion-button (click)="fundAccount()">
            {{ FundAccountText }}
          </ion-button>
          </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <ion-card *ngFor="let option of options" color="custom-secondary" button class="card-options" 
      (click)="option.handler()">
      <ion-card-content>
        <ion-icon [name]="option.icon"></ion-icon>

        <ion-text class="content"><p>
          {{ option.title }}
        </p></ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card class="more-info-card" color="success" button (click)="insertPin()">
    <ion-card-content>
      <ion-text class="content"><p>
        {{ MoreInfoText }}
      </p></ion-text>
    </ion-card-content>
  </ion-card>

  <br>
  <div class="btns ion-padding">

    <ion-button size="large" expand="block" (click)="showReferrals()">
      {{ StartEarningText }}
    </ion-button>

    <br>
    
    <ion-button size="large" fill="outline" expand="block" class="outline" (click)="showCurrencyExchange()">
      {{ CurrencyExText }}
    </ion-button>
  </div>
</ion-content>
