<app-modal-header [title]="PageTitle" (dismissEvent)="dismissModal()"></app-modal-header>

<ion-content class="ion-padding ion-text-center">
  <div class="logo">
    <ion-icon name="refresh-outline" color="success" ></ion-icon>
  </div>

  <br><br>
  
  <ion-text class="info"><p>
    {{ InfoText }}
  </p></ion-text>
  
  <br>

  <div class="input">
    <ion-item>
      <ion-label class="input-label" position="floating">{{ EmailLabelText }}</ion-label>
      <ion-input
        [(ngModel)]="EmailModel"
        type="email"
        inputmode="email"
        (ionBlur)="inputBlur()"
        (ngModelChange)="inputChange()"
        ></ion-input>
    </ion-item>

    <ion-text color="danger" class="warning-text"><p>
      {{ EmailErrorText }}
    </p></ion-text>
  </div>

  <br><br><br><br>

  <ion-button [disabled]="!IsValid"
      (click)="sendAsync()" size="large" shape="round" expand="block" fill="outline" class="outline">
      <ion-spinner *ngIf="IsSending" name="crescent"></ion-spinner>
      <ion-text *ngIf="!IsSending">{{ ForgotPassBtnText }}</ion-text>
    </ion-button>
  
    <ion-button *ngIf="ShowSubBtn" strong (click)="sendAsync()" class="clear"
    size="dafault" fill="clear">{{ ForgotPassSubBtnText }}</ion-button>
</ion-content>