ion-list-header{
  font-size: 16px
}

.profile{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10000;

  .picture{
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 50%;

  ion-avatar{
    height: 100%;
    width: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
}

  ion-icon{
    font-size: 94px;
  }

  .btn{
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    ion-icon{
      font-size: 30px;
      color: #fff;
    }
  }
}

.open{
  z-index: 10;
  position: absolute;
  animation: animateProfile 1s ease forwards;
}

@keyframes animateProfile{
  50%{
    margin-top: 30vh;
  }
  100%{
    transform: scale(4);
    margin-top: 30vh;
  }
}