<div class="input">

    <ion-item mode="md">
      <ion-icon [color]="iconColor" class="icon-info" color="medium" [md]=" icon ? (icon + '-sharp') : ''" [ios]="icon ? ( icon + '-outline') : ''"></ion-icon>
      <ion-grid class="ion-no-padding ion-margin-left">
        <ion-row>
          <ion-col offset="1" size="11">
            <ion-label mode="md" class="input-label" position="stacked">{{ label }}</ion-label>
            <ion-input mode="md" [(ngModel)]="model"
              [value]="value"
              [type]="type"
              [inputmode]="inputmode"
              (ngModelChange)="onChange($event)"
              (ionBlur)="onBlur($event)"
              [readonly]="!canEdit"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-buttons class="btn-edit">
        <ion-button *ngIf="!canEdit" class="icon " shape="round" (click)="setFocus()">
          <ion-icon class="icon-edit" color="medium" slot="icon-only" name="pencil-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

  <div class="edit-btns ion-text-right" *ngIf="canEdit">
    <ion-button (click)="exitEditMode()" fill="clear" class="clear" size="default">{{ CancelText }}</ion-button>
    <ion-button (click)="check()" fill="clear" class="clear" size="default">{{ OKText }}</ion-button>
  </div>

</div>
