.input{
  position: relative;
  height: auto;
  overflow-x: hidden;
  
  .main-input-container{
    margin-left: 41px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    ion-input{
      font-size: 20px;
    }
  }

  .input-item{
    position: absolute;
    border-bottom: 1px solid #cfd0d2;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .labels{
      margin-left: 30px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column;
      width: 80vw;
      height: 100%;
      padding: 5px 0;
     
      .edit-label{
        font-size: 20px;
        padding-top: 1px;
      }

      .top-label{
        font-size: 12px;
      }
    }

    ion-icon{
      font-size: 28px;
    }

    .btn{
      position: absolute;
      right: 0px;
    }
  }
}

.no-edit{
  opacity: 0;
  pointer-events: none;
}

.overlay-visible{
  z-index: 10;
}
