<app-modal-header [title]="PageTitle" (dismissEvent)="dismissModal()"></app-modal-header>

<ion-content>

  <app-modal-content-header [title]="PageTitle" ></app-modal-content-header>

  <br><br><br>

  <div class="reset-input ion-padding" *ngIf="IsVerified">

    <div class="input" *ngFor="let input of ResetInputs">

      <ion-item mode="md">
        <ion-label class="input-label" position="floating">{{ input.label }}</ion-label>
        <ion-input
        [type]="input.type"
        [value]="input.value"
        [inputmode]="input.inputMode"
        [(ngModel)]="input.model"
        (ngModelChange)="input.modelChanged()"
        (ionBlur)="input.inputBlur()"
        ></ion-input>

        <ion-buttons *ngIf="input.isPassword" slot="end">
          <ion-button [attr.tabindex]="-1" (click)="input.togglePasswordVisibility()">
            <ion-icon color="medium" slot="icon-only"
            [name]="input.passwordIcon + '-sharp'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-text [color]="input.detail.detailTextColor ? input.detail.detailTextColor : 'danger'" class="warning-text"><p>
        {{ input.detail.detailText }}
      </p></ion-text>
    </div>

    <br><br>

    <ion-button [disabled]="!ConfirmValid"
      (click)="confirm()" size="large" expand="block">
      <ion-spinner *ngIf="IsConfirming" name="crescent"></ion-spinner>
      <ion-text *ngIf="!IsConfirming">{{ ConfirmBtnText }}</ion-text>
    </ion-button>
  </div>

  <div class="input ion-text-center ion-padding" *ngIf="!IsVerified">

    <ion-item mode="md">
      <ion-label class="input-label" position="floating">{{ VerifyPasswordInput?.label }}</ion-label>
      <ion-input
      [type]="VerifyPasswordInput.type"
      [value]="VerifyPasswordInput.value"
      [inputmode]="VerifyPasswordInput.inputMode"
      [(ngModel)]="VerifyPasswordInput.model"
      (ngModelChange)="VerifyPasswordInput.modelChanged()"
      (ionBlur)="VerifyPasswordInput?.inputBlur()"
      ></ion-input>

      <ion-buttons *ngIf="VerifyPasswordInput.isPassword" slot="end">
        <ion-button [attr.tabindex]="-1" (click)="VerifyPasswordInput.togglePasswordVisibility()">
          <ion-icon color="medium" slot="icon-only"
          [name]="VerifyPasswordInput.passwordIcon + '-sharp'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-text [color]="VerifyPasswordInput.detail.detailTextColor ? VerifyPasswordInput.detail.detailTextColor : 'danger'" class="warning-text"><p>
      {{ VerifyPasswordInput.detail.detailText }}
    </p></ion-text>

    <br><br>
    <ion-button [disabled]="!VerifyValid"
      (click)="verify()" size="large" expand="block">
      <ion-spinner *ngIf="IsVerifying" name="crescent"></ion-spinner>
      <ion-text *ngIf="!IsVerifying">{{ VerifyBtnText }}</ion-text>
    </ion-button>
  
    <ion-button strong (click)="forgotPassword()" class="clear"
    size="dafault" fill="clear">{{ VerifySubBtnText }}</ion-button>
  </div>

</ion-content>