<app-modal-header [title]="PageTitle" (dismissEvent)="dismissModal()"></app-modal-header>

<ion-content class="">

  <app-modal-content-header [title]="PageTitle" ></app-modal-content-header>

  <br><br><br>
  <div class="reset-input ion-padding" *ngIf="IsVerified">

    <div class="input" *ngFor="let input of ResetInputs">

      <ion-item mode="md">
        <ion-label class="input-label" position="floating">{{ input.label }}</ion-label>
        <ion-input [class.password-dot]="!input.passwordVisible"
        [type]="input.type"
        [value]="input.value"
        [inputmode]="input.inputMode"
        [(ngModel)]="input.model"
        (ngModelChange)="input.modelChanged()"
        (ionBlur)="input.inputBlur()"
        ></ion-input>

        <ion-buttons *ngIf="input.isPassword" slot="end">
          <ion-button [attr.tabindex]="-1" (click)="input.togglePasswordVisibility()" class="clear">
            <ion-icon color="medium" slot="icon-only"
            [name]="input.passwordIcon + '-sharp'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-text [color]="input.detail.detailTextColor ? input.detail.detailTextColor : 'danger'" class="warning-text"><p>
        {{ input.detail.detailText }}
      </p></ion-text>
    </div>

    <br><br>

    <ion-button [disabled]="!ConfirmValid"
      (click)="confirm()" size="large" expand="block">
      <ion-spinner *ngIf="IsConfirming" name="crescent"></ion-spinner>
      <ion-text *ngIf="!IsConfirming">{{ ConfirmBtnText }}</ion-text>
    </ion-button>
  </div>

  <div class="input ion-text-center ion-padding" *ngIf="!IsVerified">

    <ion-item mode="md">
      <ion-label class="input-label" position="floating">{{ VerifyPinInput?.label }}</ion-label>
      <ion-input [class.password-dot]="!VerifyPinInput.passwordVisible"
      [type]="VerifyPinInput.type"
      [value]="VerifyPinInput.value"
      [inputmode]="VerifyPinInput.inputMode"
      [(ngModel)]="VerifyPinInput.model"
      (ngModelChange)="VerifyPinInput.modelChanged()"
      (ionBlur)="VerifyPinInput?.inputBlur()"
      ></ion-input>

      <ion-buttons *ngIf="VerifyPinInput.isPassword" slot="end">
        <ion-button [attr.tabindex]="-1" (click)="VerifyPinInput.togglePasswordVisibility()" class="clear">
          <ion-icon color="medium" slot="icon-only"
          [name]="VerifyPinInput.passwordIcon + '-sharp'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-text [color]="VerifyPinInput.detail.detailTextColor ? VerifyPinInput.detail.detailTextColor : 'danger'" class="warning-text"><p>
      {{ VerifyPinInput.detail.detailText }}
    </p></ion-text>

    <br><br>
    <ion-button [disabled]="!VerifyValid"
      (click)="verify()" size="large" expand="block">
      <ion-spinner *ngIf="IsVerifying" name="crescent"></ion-spinner>
      <ion-text *ngIf="!IsVerifying">{{ VerifyBtnText }}</ion-text>
    </ion-button>
  
    <ion-button strong (click)="forgotPin()" class="clear"
    size="dafault" fill="clear">{{ VerifySubBtnText }}</ion-button>
  </div>

</ion-content>